<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645522859774-nvg5imulu0ch67rc1ctb9ecdp61ud8bk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645522859774-nvg5imulu0ch67rc1ctb9ecdp61ud8bk</string>
	<key>API_KEY</key>
	<string>AIzaSyCk1-a5Tuyha1Vgj3q0jwDdmDR8XW5qz4M</string>
	<key>GCM_SENDER_ID</key>
	<string>645522859774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>by.anton.babich.Rick-And-Morty</string>
	<key>PROJECT_ID</key>
	<string>rick-and-morty-ad954</string>
	<key>STORAGE_BUCKET</key>
	<string>rick-and-morty-ad954.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645522859774:ios:6131b5f01eecc946b227af</string>
	<key>DATABASE_URL</key>
	<string>https://rick-and-morty-ad954.firebaseio.com</string>
</dict>
</plist>